
<div class="d-md-flex col-8 align-items-center align-content-center" style="margin-bottom: 20px;margin-top: 20px;">

  <div class="col-md-5">
    <div class="list-group">
      <button  *ngFor="let vaccineIndList of vaccineList.ListVaccineDto"  class="list-group-item list-group-item-action" (click)="buildModel(vaccineIndList)"  >
        {{vaccineIndList.vaccineCode.coding.display}} | {{vaccineIndList.vaccineCode.coding.code}} | {{vaccineIndList.vaccineCode.coding.system}}
      </button>
    </div>
  </div>

  <div class="col-md-7" style="background-color: antiquewhite;" >

        <div class="form-group">
          <label for="formGroupExampleInput2">ID</label>
          <input type="text" class="form-control" [(ngModel)] = "vaccine.ID" enable = "false" readonly/>

          <label for="formGroupExampleInput2">FHIR CODE SYSTEM</label>
          <input type="text" class="form-control" [(ngModel)] = "vaccine.vaccineCode.coding.code" />

          <label for="formGroupExampleInput">Text</label>
          <input type="text" class="form-control" [(ngModel)] = "vaccine.vaccineCode.text" >

          <label for="formGroupExampleInput2">Display</label>
          <input type="text" class="form-control" [(ngModel)] = "vaccine.vaccineCode.coding.display">

          <label for="formGroupExampleInput2">System</label>
          <input type="text" class="form-control" [(ngModel)] = "vaccine.vaccineCode.coding.system" >

          <label for="formGroupExampleInput2">ImmunityPeriod</label>
          <input type="text" class="form-control"  [(ngModel)] = "vaccine.immunityPeriod">

         
        </div>
        <div style="margin-bottom: 10px;">
        <button type="button" class="btn btn-primary btn-lg active" (click)="postVaccine()"    style="margin-left: 5px;" > Save </button>
        <button type="button" class="btn btn-primary btn-lg active" (click)="resetVaccine()"   style="margin-left: 5px;"  > Clear </button>
        <button type="button" class="btn btn-primary btn-lg active" (click)="postNewVaccine()" style="margin-left: 5px;" > New </button>
        <button type="button" class="btn btn-success btn-lg active" (click)="checkPatients()" style="margin-left: 5px; width: 250px;" > check patients </button>
      </div>
    </div>

</div>

<div class="card col-10 align-content-center flex-column" >
<ul class="nav nav-tabs" id="myTab" role="tablist">

  <li class="nav-item">
    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#take" role="tab" aria-controls="home" aria-selected="true">Take</a>
  </li>

</ul>

<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="take" role="tabpanel" aria-labelledby="home-tab">

<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Gender</th>
      <th scope="col">Country</th>
    </tr>
  </thead>

  <tbody>

    <tr *ngFor="let resultPatient of  " >
      <th > {{ resultPatient.name[0].given[0] }}| {{ resultPatient.name[0].family }}</th>
      <th > {{ resultPatient.gender }}</th>
      <th > {{ resultPatient.address[0].state}}</th>
    </tr>

  </tbody>
</table>

  </div>
</div>

</div>